<!DOCTYPE html>

<html>
    <head>
        <title>Blogz</title>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/blog">all posts</a></li>
                <li><a href="/blog/newpost">new post</a></li>
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </body>

    <footer>
        <hr>
        <a href="/blog" title="Back to the Frontpage to see recent posts"><b>FRONTPAGE</b></a> |
        <a href="/blog/newpost" title="Create a new post"><b>CREATE NEW POST</b></a> |
        <a href="/login" title="Login"><b>LOGIN</b></a> |
        <a href="/logout" title="Logout"><b>LOGOUT</b></a>
    </footer>

</html>
